.main-btn {
  border: 1px solid indigo;
  height: 30px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all .3s;

  &:hover {
    background-color: indigo;
    color: #fff;
  }
}