nav {
  box-shadow: 1px 1px 20px #ede6f3;
}
.nav-wrapper {
  .container-fluid {
    display: flex;
    align-items: center;

    .brand-logo {
      margin: 0;
      img {
        height: 50px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin-left: auto;
      li {
        .nav-item {
          color: #333;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            background: none;
          }


        }

        .bag {
          height: 30px;
          width: 30px;
          fill: #333;
          margin: 1rem 0 0 1rem;
          cursor: pointer;
        }
  
        &:hover {
          .nav-item {
            color: indigo;
          }
        }

        &:not(:last-child) {
            
          .nav-item::after {
            content: "/";
            padding-left: 8px;
          }
        }
      }
    }
  }

}