.chart-icon {
  position: relative;

  .item-num {
    position: absolute;
    bottom: -15px;
    left: 26px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    color: indigo;
  }
}