.container {
  position: relative;

  .total {
    position: absolute;
    right: 0;
    top: -4rem;
    color: indigo;
  }

  .StripeCheckout {
    position: absolute;
    right: 0px;
    bottom: -80px;
  }
}