.collection {
  margin: 0 0 2px 0;
  min-height: 80px;
  h6 {
    font-weight: 500;
    color: #333;
    margin: 0 0 8px 0;
  }

  img {
    width: 60px;
  }


  .price, .quantity, .total {
    color: indigo;
    font-weight: 700;
  }

  .sign {
    margin: 0 6px;
    color: #333;
  }
}